extends ../layout

block content
  form(name="upload"
    method="POST"
    action="/stores/save"
    class="card"
    enctype="multipart/form-data")
    label(for="file") Upload XML
    input(type="file" name="file" accept="text/xml")
    button(type="submit" class="button") save
